@import '../../../@theme/styles/themes';

@include nb-install-component() {
  nb-accordion {
    // min-width: 700px;
    // max-height: 900px;
    nb-accordion-item-body {
      padding: 0px;
      ::ng-deep nb-list-item {
        border: none;
      }
      nb-checkbox {
        cursor: pointer;
      }
    }
    .update {
      float: right;
    }
    .form-group {
      .label {
        font-size: 1rem;
      }
    }
    .project-context {
      i {
        cursor: pointer;
        color: #0047FF;
        font-size: 18px;
      }
    }
    .select-more-indicators {
      color: #0047FF;
      cursor: pointer;
      margin-top: 50px;
      margin-left: 40px;
      font-weight: 500;
    }
  }
  .next-button {
    margin-top: 20px;
  }
}
