<div class="accordions-container row">
  <div class="accordion-container col-md-12 col-lg-12 col-xxxl-12">
    <nb-accordion>
      <nb-accordion-item *ngFor="let project of selectedProjects;index as i">
        <nb-accordion-item-header>
          {{project.name}}
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <div class="form-group">
            <label for="projectGoals" class="label col-form-label">Project Description</label>
            <div>
              <textarea id="projectDescription" name="projectDescription" rows="3" nbInput fullWidth shape="round" placeholder="Project Description" [(ngModel)]="project.description"></textarea>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <label for="projectImageLink" class="label col-sm-6 col-form-label">Select Image</label>
              <label for="projectImageLink" class="label col-sm-6 col-form-label">Select SDGs</label>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <input type="text" name="projectImageLink" nbInput fullWidth id="projectImageLink" placeholder="Enter project image link here" [(ngModel)]="project.imgLink">
              </div>
              <div class="col-sm-3">
                <nb-select multiple fullWidth id="approvalYear" [(ngModel)]="project.sdgImages">
                  <nb-option *ngFor="let sdgImgSrc of sdgImages; index as i" [value]="sdgImgSrc">
                    <img [src]="sdgImgSrc" height="45" width="90" alt="" style="margin-left: 30px;" />
                  </nb-option>
                </nb-select>
              </div>
            </div>
          </div>
          <h5>Expected Results</h5>
          <nb-list>
            <nb-list-item class="col-md-12 row">
              <div class="col-md-1"></div>
              <div class="col-md-6"><b>Indicator</b></div>
              <div class="col-md-2"><b>Target Value</b></div>
            </nb-list-item>
            <nb-list-item class="col-md-12 row" *ngFor="let result of project.indicators">
              <nb-checkbox class="col-md-1" status="primary" checked="true" (checkedChange)="checkedChange($event, result, project)"></nb-checkbox>
              <div class="col-md-6">{{ result.indicator }}</div>
              <div class="col-md-2">{{ result.target }}</div>
            </nb-list-item>
          </nb-list>
          <p class="select-more-indicators" (click)="editIndicators(project)">Select More Indicators</p>
          <form>
            <!-- <div class="form-group row">
              <label for="expectedResults" class="label col-form-label">Expected Results</label>
              <div>
                <textarea id="expectedResults" name="expectedResults" rows="2" nbInput fullWidth shape="round" placeholder="Expected Results" [(ngModel)]="project.expectedResults"></textarea>
              </div>
            </div> -->
            <div class="form-group pt-5">
              <label for="developmentChallenges" class="label col-form-label">
                Development Challenges
                <!-- (click)="openWindow(contentTemplate, project.Context)" -->
                <span (click)="openWindow(contentTemplate, project.Context)" class="project-context"><i class="fas fa-info-circle"></i></span>
              </label>
              <div>
                <textarea id="developmentChallenges" name="developmentChallenges" rows="4" nbInput fullWidth shape="round" placeholder="Development Challenges" [(ngModel)]="project.Summary"></textarea>
              </div>
            </div>
            <!-- <div class="form-group row">
              <label for="projectGoals" class="label col-form-label">Project Goals</label>
              <div>
                <textarea id="projectGoals" name="projectGoals" rows="2" nbInput fullWidth shape="round" placeholder="Project Goals" [(ngModel)]="project.projectGoals"></textarea>
              </div>
            </div> -->
            <div class="form-group row">
              <label for="ibrdFinancing" class="label col-sm-4 col-form-label">IBRD Financing</label>
              <div class="col-sm-8">
                <input type="text" name="ibrdFinancing" nbInput fullWidth id="ibrdFinancing" placeholder="IBRD Financing" [(ngModel)]="project.ibrdFinancing">
              </div>
            </div>
            <div class="form-group row">
              <label for="dataPoint00" class="label col-sm-4 col-form-label">Data Point 00</label>
              <div class="col-sm-8">
                <input type="text" name="dataPoint00" nbInput fullWidth id="dataPoint00" placeholder="Data Point 00" [(ngModel)]="project.dataPoint00">
              </div>
            </div>
            <div class="form-group row">
              <label for="dataPoint01" class="label col-sm-4 col-form-label">Data Point 01</label>
              <div class="col-sm-8">
                <input type="text" name="dataPoint01" nbInput fullWidth id="dataPoint01" placeholder="Data Point 01" [(ngModel)]="project.dataPoint01">
              </div>
            </div>
            <div class="form-group row">
              <label for="dataPoint02" class="label col-sm-4 col-form-label">Data Point 02</label>
              <div class="col-sm-8">
                <input type="text" name="dataPoint02" nbInput fullWidth id="dataPoint02" placeholder="Data Point 02" [(ngModel)]="project.dataPoint02">
              </div>
            </div>
            <button class="update" nbButton status="success" (click)="submit(project)">Update</button>
          </form>
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
    <button class="next-button" nbButton status="primary" (click)="next()">Next</button>
  </div>
</div>

<ng-template #contentTemplate let-data>
  <p [innerHtml]="data.text"></p>
</ng-template>
  