<nb-card>
  <nb-card-header>Edit Project Details - <b>{{ data.projectDetails.name }}</b></nb-card-header>
  <nb-card-body>
    <nb-tabset>
      <nb-tab tabTitle="Project Details">
        <form>
          <div class="form-group">
            <label for="projectGoals" class="label col-form-label">Project Description</label>
            <div>
              <textarea id="projectDescription" name="projectDescription" rows="2" nbInput fullWidth shape="round" placeholder="Project Description" [(ngModel)]="data.projectDetails.description"></textarea>
            </div>
          </div>
          <!-- <div class="form-group row">
            <label for="expectedResults" class="label col-form-label">Expected Results</label>
            <div>
              <textarea id="expectedResults" name="expectedResults" rows="2" nbInput fullWidth shape="round" placeholder="Expected Results" [(ngModel)]="data.projectDetails.expectedResults"></textarea>
            </div>
          </div> -->
          <div class="form-group">
            <label for="developmentChallenges" class="label col-form-label">
              Development Challenges
              <!-- (click)="openWindow(contentTemplate, data.projectDetails.Context)" -->
              <span [nbTooltip]="data.projectDetails.Context" nbTooltipPlacement="right"><i class="fa fa-info"></i></span>
            </label>
            <div>
              <textarea id="developmentChallenges" name="developmentChallenges" rows="3" nbInput fullWidth shape="round" placeholder="Development Challenges" [(ngModel)]="data.projectDetails.Summary"></textarea>
            </div>
          </div>
          <!-- <div class="form-group row">
            <label for="projectGoals" class="label col-form-label">Project Goals</label>
            <div>
              <textarea id="projectGoals" name="projectGoals" rows="2" nbInput fullWidth shape="round" placeholder="Project Goals" [(ngModel)]="data.projectDetails.projectGoals"></textarea>
            </div>
          </div> -->
          <div class="form-group row">
            <label for="projectName" class="label col-sm-4 col-form-label">IBRD Financing</label>
            <div class="col-sm-8">
              <input type="text" name="ibrdFinancing" nbInput fullWidth id="ibrdFinancing" placeholder="IBRD Financing" [(ngModel)]="data.projectDetails.ibrdFinancing">
            </div>
          </div>
          <div class="form-group row">
            <label for="projectName" class="label col-sm-4 col-form-label">Data Point 00</label>
            <div class="col-sm-8">
              <input type="text" name="dataPoint00" nbInput fullWidth id="dataPoint00" placeholder="Data Point 00" [(ngModel)]="data.projectDetails.dataPoint00">
            </div>
          </div>
          <div class="form-group row">
            <label for="projectName" class="label col-sm-4 col-form-label">Data Point 01</label>
            <div class="col-sm-8">
              <input type="text" name="dataPoint01" nbInput fullWidth id="dataPoint01" placeholder="Data Point 01" [(ngModel)]="data.projectDetails.dataPoint01">
            </div>
          </div>
          <div class="form-group row">
            <label for="projectName" class="label col-sm-4 col-form-label">Data Point 02</label>
            <div class="col-sm-8">
              <input type="text" name="dataPoint02" nbInput fullWidth id="dataPoint02" placeholder="Data Point 02" [(ngModel)]="data.projectDetails.dataPoint02">
            </div>
          </div>
        </form>
      </nb-tab>
      <nb-tab tabTitle="Expected Results">
        <nb-list>
          <nb-list-item class="col-md-12 row">
            <div class="col-md-2"></div>
            <div class="col-md-6">Indicator</div>
            <div class="col-md-2">Target Value</div>
          </nb-list-item>
          <nb-list-item class="col-md-12 row" *ngFor="let result of data.projectDetails.indicators">
            <nb-checkbox class="col-md-2" status="primary" checked="true" (checkedChange)="checkedChange($event, result)"></nb-checkbox>
            <div class="col-md-6">{{ result.indicator }}</div>
            <div class="col-md-2">{{ result.target }}</div>
          </nb-list-item>
        </nb-list>
        <!-- <ng2-smart-table [settings]="settings" [source]="data.projectDetails.indicators" (edit)="checkedChange($event)">
        </ng2-smart-table> -->
      </nb-tab>
    </nb-tabset>
  </nb-card-body>
  <nb-card-footer>
    <button class="cancel" nbButton status="danger" (click)="cancel()">Cancel</button>
    <button class="update" nbButton status="success" (click)="submit()">Update</button>
  </nb-card-footer>
</nb-card>

<ng-template #contentTemplate let-data>
  <p>"{{ data.text }}"</p>
</ng-template>
