@import '../../../../@theme/styles/themes';

@include nb-install-component() {
  nb-card {
    min-width: 700px;
    max-height: 900px;
    .update {
      float: right;
    }
    form {
      .label {
        font-size: 1rem;
      }
    }
  }
}
