<div class="container row">
  <div class="container col-md-12 col-lg-12 col-xxxl-12 html-doc-view">
    <ng-container *ngFor="let project of projects;index as i">
      <nb-card class="col-md-5 col-lg-5 col-xxxl-5">
        <nb-card-body>
          <div [id]="project.id" class="project-download-view">
            <div class="project-header" style="display: flex;justify-content: space-between;">
              <div class="project-header-desc">
                <div class="project-country">{{project.country}}</div>
                <p style="font-weight: bold; font-size: 18px;">{{project.name}}</p>
              </div>
              <div class="project-image-1">
                <img src="https://sustainabledevelopment.un.org/content/images/sdgsfirst.png" alt="" width="40" height="60" />
              </div>
            </div>
            <div class="html-doc-container" style="display: flex;">
              <div style="margin-right: 20px;width: 50%;">
                <div class="left-content" style="border: 1px solid lightgray;">
                  <p class="description" style="margin-bottom: 0;color: white;background: skyblue;">Description</p>
                  <p class="purpose" style="margin-bottom: 5px;border-top: 1px solid lightgray;"><b>Purpose: </b>To support the Government's Integrated Basic Cleanup while simuntaneously improving
                  sanitary conditions along the banks of La Plata River and prove a long-term and cost-effective solution for safe disposal
                  of wastewater from the Buenos Aires Metropolitan Area</p>
                  <p class="expected-results" style="margin-bottom: 5px;border-top: 1px solid lightgray;"><b>Expected Results (include): </b>{{getIndicators(project.indicators)}}</p>
                  <p class="expected-results" style="margin-bottom: 5px;border-top: 1px solid lightgray;"><b>IBRD Financing: {{project.ibrdFinancing}}</b></p>
                </div>
                <div class="project-image-2">
                  <img [src]="project.imgLink" alt="" width="250" height="250" />
                </div>
              </div>
              <div style="width: 50%;">
                <b>Development Challenges</b>
                <p>{{project.Summary}}</p>
                <b>Project Description</b>
                <p>{{project.description}}</p>
              </div>
            </div>
            <div class="project-footer">
              <div class="more-info">For more information: 
                <a [href]="project.PDFLink" target="_blank">{{project.PDFLink}}</a>
              </div>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
      <nb-checkbox class="col-md-1" status="primary" (checkedChange)="checkedChange($event, project)"></nb-checkbox>
    </ng-container>
  </div>
  <button class="download-button" nbButton status="primary" (click)="exportAsDoc()">Download selected</button>
</div>