<div class="container row">
  <div class="container col-md-12 col-lg-12 col-xxxl-12 html-doc-view">
    <ng-container *ngFor="let project of projects;index as i">
      <nb-card class="col-md-5 col-lg-5 col-xxxl-5">
        <nb-card-body>
          <div [id]="project.id">
            <div class="project-header">
              <div class="project-header-desc">
                <div class="project-country">{{project.country}}</div>
                <h6>{{project.name}}</h6>
              </div>
              <div class="project-image">
                <img [src]="project.imgLink" alt="" />
              </div>
            </div>
            <div class="html-doc-container" style="display: flex;">
              <div style="margin-right: 20px;">
                <b>Project Description</b>
                <p>{{project.description}}</p>
              </div>
              <div>
                <b>Development Challenges</b>
                <p>{{project.Summary}}</p>
              </div>
            </div>
            <!-- <div>
              <h3>Project Sector</h3>
              <p>{{project.sector}}</p>
            </div>
            <div>
              <h3>Project Country</h3>
              <p>{{project.country}}</p>
            </div>
            <div>
              <h3>Project Region</h3>
              <p>{{project.region}}</p>
            </div> -->
          </div>
        </nb-card-body>
      </nb-card>
      <nb-checkbox class="col-md-1" status="primary" (checkedChange)="checkedChange($event, project)"></nb-checkbox>
    </ng-container>
  </div>
  <button class="download-button" nbButton status="primary" (click)="exportAsDoc()">Download selected</button>
</div>