.html-doc-view {
  display: flex;
  nb-card {
    max-height: 400px;
    .project-header {
      display: flex;
      justify-content: space-between;
    }
    .project-image {
      img {
        width: 40px;
        height: 60px;
      }
    }
    .html-doc-container {
      display: flex;
    }
    .project-country {
      font-weight: bolder;
      font-size: 18px;
    }
  }
}

.download-button {
  margin-top: 50px;
  margin-left: 15px;
}
