@import '../../../@theme/styles/themes';

@include nb-install-component() {
  nb-card {
    transform: translate3d(0, 0, 0);
    .mb-20 {
      margin-bottom: 20px;
    }
    .label {
      font-size: 1rem!important;
    }
    .export {
      float: right;
    }
    ::ng-deep .custom-checkbox {
      cursor: pointer;
    }

    ::ng-deep ng2-smart-table {
      table {
        overflow: hidden;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        thead tr {
          background: ghostwhite;
          ::ng-deep ng2-smart-table-title a {
            font-weight: bolder;
          }
        }
      }
    }
  }
}
