@import '../../../@theme/styles/themes';

@include nb-install-component() {
  nb-card {
    transform: translate3d(0, 0, 0);
    .mb-20 {
      margin-bottom: 20px;
    }
    .label {
      font-size: 1rem!important;
    }
    .export {
      float: right;
    }
    ::ng-deep .custom-checkbox {
      cursor: pointer;
    }
  }
}
