<nb-card>
    <nb-card-header>Select Indicators</nb-card-header>
    <nb-card-body>
      <nb-list>
        <nb-list-item class="col-md-12 row">
          <div class="col-md-1"></div>
          <div class="col-md-6"><b>Indicator</b></div>
          <div class="col-md-2"><b>Target Value</b></div>
        </nb-list-item>
        <nb-list-item class="col-md-12 row" *ngFor="let result of allIndicators">
          <nb-checkbox class="col-md-1" status="primary" [checked]="result.checked" (checkedChange)="checkedChange($event, result)"></nb-checkbox>
          <div class="col-md-6">{{ result.indicator }}</div>
          <div class="col-md-2">{{ result.target }}</div>
        </nb-list-item>
      </nb-list>
    </nb-card-body>
    <nb-card-footer>
      <button class="cancel" nbButton status="danger" (click)="cancel()">Cancel</button>
      <button class="update" nbButton status="success" (click)="submit()">Update Indicators</button>
    </nb-card-footer>
  </nb-card>
  